button{
  margin-bottom: 1rem;
  background-color: #2498db;
  padding: 10px 5px 10px 5px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 0px;
}

app-square {
  border: 1px white solid;
  height: 100px;
  width: 100px;
}
